what is dti?

A debt income ratio (often abbreviated DTI) is the percentage of a consumer's monthly gross income that goes toward paying debts. (Speaking precisely, DTIs often cover more than just debts; they can include principal, taxes, fees, and insurance premiums as well.

- LoanStatNew	Description

- addr_state	The state provided by the borrower in the loan application

- annual_inc	The self-reported annual income provided by the borrower during registration.

- annual_inc_joint	The combined self-reported annual income provided by the co-borrowers during registration

- application_type	Indicates whether the loan is an individual application or a joint application with two co-borrowers

- collection_recovery_fee	post charge off collection fee

- collections_12_mths_ex_med	Number of collections in 12 months excluding medical collections

- delinq_2yrs	The number of 30+ days past-due incidences of delinquency in the borrower's credit file for the past 2 years

- desc	Loan description provided by the borrower

- dti	A ratio calculated using the borrower’s total monthly debt payments on the total debt obligations, - - - excluding mortgage and the requested LC loan, divided by the borrower’s self-reported monthly income.

- dti_joint	A ratio calculated using the co-borrowers' total monthly payments on the total debt obligations, - excluding mortgages and the requested LC loan, divided by the co-borrowers' combined self-reported monthly income

- earliest_cr_line	The month the borrower's earliest reported credit line was opened

- emp_length	Employment length in years. Possible values are between 0 and 10 where 0 means less than one year 

- and 10 means ten or more years. 

- emp_title	The job title supplied by the Borrower when applying for the loan.*

- fico_range_high	The upper boundary range the borrower’s FICO at loan origination belongs to.

- fico_range_low	The lower boundary range the borrower’s FICO at loan origination belongs to.

- funded_amnt	The total amount committed to that loan at that point in time.

- funded_amnt_inv	The total amount committed by investors for that loan at that point in time.

- grade	LC assigned loan grade

- home_ownership	The home ownership status provided by the borrower during registration. Our values are: RENT, OWN, MORTGAGE, OTHER.

- id	A unique LC assigned ID for the loan listing.

- initial_list_status	The initial listing status of the loan. Possible values are – W, F

- inq_last_6mths	The number of inquiries in past 6 months (excluding auto and mortgage inquiries)

- 
- installment	The monthly payment owed by the borrower if the loan originates.

- int_rate	Interest Rate on the loan

- is_inc_v	Indicates if income was verified by LC, not verified, or if the income source was verified

- issue_d	The month which the loan was funded

- last_credit_pull_d	The most recent month LC pulled credit for this loan

- last_fico_range_high	The upper boundary range the borrower’s last FICO pulled belongs to.

- last_fico_range_low	The lower boundary range the borrower’s last FICO pulled belongs to.

- last_pymnt_amnt	Last total payment amount received

- last_pymnt_d	Last month payment was received
- loan_amnt	The listed amount of the loan applied for by the borrower. If at some point in time, the credit department reduces the loan amount, then it will be reflected in this value.
- loan_status	Current status of the loan
- member_id	A unique LC assigned Id for the borrower member.
- mths_since_last_delinq	The number of months since the borrower's last delinquency.
- mths_since_last_major_derog	Months since most recent 90-day or worse rating
- mths_since_last_record	The number of months since the last public record.
- next_pymnt_d	Next scheduled payment date
- open_acc	The number of open credit lines in the borrower's credit file.
- out_prncp	Remaining outstanding principal for total amount funded
- out_prncp_inv	Remaining outstanding principal for portion of total amount funded by investors
- policy_code	"publicly available policy_code=1
- new products not publicly available policy_code=2"
- pub_rec	Number of derogatory public records
- purpose	A category provided by the borrower for the loan request. 
- pymnt_plan	Indicates if a payment plan has been put in place for the loan
- recoveries	post charge off gross recovery
- revol_bal	Total credit revolving balance
- revol_util	Revolving line utilization rate, or the amount of credit the borrower is using relative to all available revolving credit.
- sub_grade	LC assigned loan subgrade
- term	The number of payments on the loan. Values are in months and can be either 36 or 60.
- title	The loan title provided by the borrower
- total_acc	The total number of credit lines currently in the borrower's credit file
- total_pymnt	Payments received to date for total amount funded
- total_pymnt_inv	Payments received to date for portion of total amount funded by investors
- total_rec_int	Interest received to date
- total_rec_late_fee	Late fees received to date
- total_rec_prncp	Principal received to date
- url	URL for the LC page with listing data.
- verified_status_joint	Indicates if the co-borrowers' joint income was verified by LC, not verified, or if the income source was verified
- zip_code	The first 3 numbers of the zip code provided by the borrower in the loan application.
- open_acc_6m	Number of open trades in last 6 months
- open_il_6m	Number of currently active installment trades
- open_il_12m	Number of installment accounts opened in past 12 months
- open_il_24m	Number of installment accounts opened in past 24 months
- mths_since_rcnt_il	Months since most recent installment accounts opened
- total_bal_il	Total current balance of all installment accounts
- il_util	Ratio of total current balance to high credit/credit limit on all install acct
- open_rv_12m	Number of revolving trades opened in past 12 months
- open_rv_24m	Number of revolving trades opened in past 24 months
- max_bal_bc	Maximum current balance owed on all revolving accounts
- all_util	Balance to credit limit on all trades
- total_rev_hi_lim  	Total revolving high credit/credit limit
- inq_fi	Number of personal finance inquiries
- total_cu_tl	Number of finance trades
- inq_last_12m	Number of credit inquiries in past 12 months
- acc_now_delinq	The number of accounts on which the borrower is now delinquent.
- tot_coll_amt	Total collection amounts ever owed
- tot_cur_bal	Total current balance of all accounts

In [14]:
# Import our libraries we are going to use for our data analysis.
import tensorflow as tf
import pandas as pd
import seaborn as sns
import numpy as np
import matplotlib.pyplot as plt

# Plotly visualizations
from plotly import tools
import plotly.plotly as py
import plotly.figure_factory as ff
import plotly.graph_objs as go
from plotly.offline import download_plotlyjs, init_notebook_mode, plot, iplot
init_notebook_mode(connected=True)


# For oversampling Library (Dealing with Imbalanced Datasets)
from imblearn.over_sampling import SMOTE
from collections import Counter
from IPython.display import HTML
import warnings; warnings.simplefilter('ignore')


% matplotlib inline

df = pd.read_csv("C:/Users/mrferozi/Documents/Panada_ml/loan/lending-club-loan-data/loan_test.csv",low_memory=False, index_col=0)

# Copy of the dataframe
original_df = df.copy()

import warnings; warnings.simplefilter('ignore')

In [15]:
df.head()

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,application_type,acc_now_delinq,year,loan_condition,region,complete_date,emp_length_int,income_category,loan_condition_int,interest_payments
0,5000,5000,4975.0,36 months,10.65,162.87,B,B2,10+ years,RENT,...,INDIVIDUAL,0.0,2011,Good Loan,munster,01/12/2011,10.0,Low,0,Low
1,2500,2500,2500.0,60 months,15.27,59.83,C,C4,< 1 year,RENT,...,INDIVIDUAL,0.0,2011,Bad Loan,leinster,01/12/2011,0.5,Low,1,High
2,2400,2400,2400.0,36 months,15.96,84.33,C,C5,10+ years,RENT,...,INDIVIDUAL,0.0,2011,Good Loan,cannught,01/12/2011,10.0,Low,0,High
3,10000,10000,10000.0,36 months,13.49,339.31,C,C1,10+ years,RENT,...,INDIVIDUAL,0.0,2011,Good Loan,ulster,01/12/2011,10.0,Low,0,High
4,3000,3000,3000.0,60 months,12.69,67.79,B,B5,1 year,RENT,...,INDIVIDUAL,0.0,2011,Good Loan,ulster,01/12/2011,1.0,Low,0,Low

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 887379 entries, 0 to 887378
Data columns (total 55 columns):
loan_amount                   887379 non-null int64
funded_amount                 887379 non-null int64
investor_funds                887379 non-null float64
term                          887379 non-null object
interest_rate                 887379 non-null float64
installment                   887379 non-null float64
grade                         887379 non-null object
sub_grade                     887379 non-null object
emp_length                    842554 non-null object
home_ownership                887379 non-null object
annual_income                 887375 non-null float64
verification_status           887379 non-null object
issue_d                       887379 non-null object
loan_status                   887379 non-null object
pymnt_plan                    887379 non-null object
purpose                       887379 non-null object
addr_state                    887379 non-null object
dti                           887379 non-null float64
delinq_2yrs                   887350 non-null float64
earliest_cr_line              887350 non-null object
inq_last_6mths                887350 non-null float64
mths_since_last_delinq        433067 non-null float64
mths_since_last_record        137053 non-null float64
open_acc                      887350 non-null float64
pub_rec                       887350 non-null float64
revol_bal                     887379 non-null int64
revol_util                    886877 non-null float64
total_acc                     887350 non-null float64
initial_list_status           887379 non-null object
out_prncp                     887379 non-null float64
out_prncp_inv                 887379 non-null float64
total_pymnt                   887379 non-null float64
total_pymnt_inv               887379 non-null float64
total_rec_prncp               887379 non-null float64
total_rec_int                 887379 non-null float64
total_rec_late_fee            887379 non-null float64
recoveries                    887379 non-null float64
collection_recovery_fee       887379 non-null float64
last_pymnt_d                  869720 non-null object
final_d                       869720 non-null object
last_pymnt_amnt               887379 non-null float64
next_pymnt_d                  634408 non-null object
last_credit_pull_d            887326 non-null object
collections_12_mths_ex_med    887234 non-null float64
policy_code                   887379 non-null int64
application_type              887379 non-null object
acc_now_delinq                887350 non-null float64
year                          887379 non-null int64
loan_condition                887379 non-null object
region                        887379 non-null object
complete_date                 887379 non-null object
emp_length_int                842554 non-null float64
income_category               887375 non-null object
loan_condition_int            887379 non-null int64
interest_payments             887379 non-null object
dtypes: float64(26), int64(6), object(23)
memory usage: 379.1+ MB

## Data Munging

- Missing Values
- Rename columns
- Data Transformation
- Coding,en-coding,decoding
- Outlier
- Anamolies

In [17]:
df.isnull().head()

,loan_amount,funded_amount,investor_funds,term,interest_rate,installment,grade,sub_grade,emp_length,home_ownership,...,application_type,acc_now_delinq,year,loan_condition,region,complete_date,emp_length_int,income_category,loan_condition_int,interest_payments
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [18]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
emp_length                     44825
home_ownership                     0
annual_income                      4
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                       29
earliest_cr_line                  29
inq_last_6mths                    29
mths_since_last_delinq        454312
mths_since_last_record        750326
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                   17659
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                 44825
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [19]:
df.emp_length_int.mean()

6.050594383268016

- Filling Null values with mean values

In [20]:
# fill in missing values with a specified value
df['emp_length_int'].fillna(value='6.05', inplace=True)

In [21]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
emp_length                     44825
home_ownership                     0
annual_income                      4
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                       29
earliest_cr_line                  29
inq_last_6mths                    29
mths_since_last_delinq        454312
mths_since_last_record        750326
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                   17659
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [22]:
df.delinq_2yrs.mean()

0.31444187750042263

In [23]:
# fill in missing values with a specified value
df['delinq_2yrs'].fillna(value='0.314', inplace=True)

In [24]:
df.drop('emp_length', axis=1, inplace=True)

In [25]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      4
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
earliest_cr_line                  29
inq_last_6mths                    29
mths_since_last_delinq        454312
mths_since_last_record        750326
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_pymnt_d                   17659
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

df.drop('earliest_cr_line', axis=1, inplace=True)
df.drop('mths_since_last_delinq', axis=1, inplace=True)
df.drop('mths_since_last_record', axis=1, inplace=True)
df.drop('last_pymnt_d', axis=1, inplace=True)
df.drop('mths_since_last_record', axis=1, inplace=True)

In [28]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      4
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
inq_last_6mths                    29
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [29]:
df.drop('inq_last_6mths', axis=1, inplace=True)

In [30]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      4
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [31]:
df.annual_income.mean()

75027.58776076681

In [32]:
# fill in missing values with a specified value
df['annual_income'].fillna(value='75027.58', inplace=True)

In [33]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
open_acc                          29
pub_rec                           29
revol_bal                          0
revol_util                       502
total_acc                         29
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [34]:
df.open_acc.mean()

11.548469037020341

In [35]:
# fill in missing values with a specified value
df['open_acc'].fillna(value='11.55', inplace=True)

In [36]:
df.pub_rec.mean()

0.19530737589451738

In [37]:
# fill in missing values with a specified value
df['pub_rec'].fillna(value='0.19', inplace=True)

In [38]:
df.revol_util.mean()

55.0676932314199

In [39]:
# fill in missing values with a specified value
df['revol_util'].fillna(value='55.06', inplace=True)

In [40]:
df.total_acc.mean()

25.26802614526399

In [41]:
# fill in missing values with a specified value
df['total_acc'].fillna(value='25.26', inplace=True)

In [42]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                         0
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
final_d                        17659
last_pymnt_amnt                    0
next_pymnt_d                  252971
last_credit_pull_d                53
collections_12_mths_ex_med       145
policy_code                        0
application_type                   0
acc_now_delinq                    29
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    4
loan_condition_int                 0
interest_payments                  0
dtype: int64

In [43]:
df.collections_12_mths_ex_med.mean()

0.014379521073358326

In [44]:
# fill in missing values with a specified value
df['collections_12_mths_ex_med'].fillna(value='0.014', inplace=True)

In [45]:
df.acc_now_delinq.head(10)

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
7    0.0
8    0.0
9    0.0
Name: acc_now_delinq, dtype: float64

In [46]:
df.acc_now_delinq.mean()

0.004991266129486673

In [47]:
# fill in missing values with a specified value
df['acc_now_delinq'].fillna(value='0.00', inplace=True)

In [51]:
df['final_d'] = pd.to_numeric(df.final_d.str.replace('/',''))

In [52]:
df.final_d.head(10)

0    1012015.0
1    1042013.0
2    1062014.0
3    1012015.0
4    1012016.0
5    1012015.0
6    1012016.0
7    1012015.0
8    1042012.0
9    1112012.0
Name: final_d, dtype: float64

In [54]:
df.final_d.median()

1012016.0

In [55]:
# fill in missing values with a specified value
df['final_d'].fillna(value='1012016', inplace=True)

In [56]:
df['next_pymnt_d'] = pd.to_numeric(df.next_pymnt_d.str.replace('/',''))

In [57]:
df.next_pymnt_d.median()

1022016.0

In [58]:
# fill in missing values with a specified value
df['next_pymnt_d'].fillna(value='1022016', inplace=True)

In [59]:
df.isnull().sum()

loan_amount                    0
funded_amount                  0
investor_funds                 0
term                           0
interest_rate                  0
installment                    0
grade                          0
sub_grade                      0
home_ownership                 0
annual_income                  0
verification_status            0
issue_d                        0
loan_status                    0
pymnt_plan                     0
purpose                        0
addr_state                     0
dti                            0
delinq_2yrs                    0
open_acc                       0
pub_rec                        0
revol_bal                      0
revol_util                     0
total_acc                      0
initial_list_status            0
out_prncp                      0
out_prncp_inv                  0
total_pymnt                    0
total_pymnt_inv                0
total_rec_prncp                0
total_rec_int                  0
total_rec_late_fee             0
recoveries                     0
collection_recovery_fee        0
final_d                        0
last_pymnt_amnt                0
next_pymnt_d                   0
last_credit_pull_d            53
collections_12_mths_ex_med     0
policy_code                    0
application_type               0
acc_now_delinq                 0
year                           0
loan_condition                 0
region                         0
complete_date                  0
emp_length_int                 0
income_category                4
loan_condition_int             0
interest_payments              0
dtype: int64

In [60]:
df['last_credit_pull_d'] = pd.to_numeric(df.last_credit_pull_d.str.replace('/',''))

In [61]:
df.last_credit_pull_d.median()

1012016.0

In [62]:
# fill in missing values with a specified value
df['last_credit_pull_d'].fillna(value='1012016', inplace=True)

In [63]:
df.isnull().sum()

loan_amount                   0
funded_amount                 0
investor_funds                0
term                          0
interest_rate                 0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_income                 0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
final_d                       0
last_pymnt_amnt               0
next_pymnt_d                  0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
year                          0
loan_condition                0
region                        0
complete_date                 0
emp_length_int                0
income_category               4
loan_condition_int            0
interest_payments             0
dtype: int64

In [64]:
df.income_category.unique()

array(['Low', 'Medium', 'High', nan], dtype=object)

In [65]:
# fill in missing values with a specified value
df['income_category'].fillna(value='Low', inplace=True)

In [66]:
df.isnull().sum()

loan_amount                   0
funded_amount                 0
investor_funds                0
term                          0
interest_rate                 0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_income                 0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
final_d                       0
last_pymnt_amnt               0
next_pymnt_d                  0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
year                          0
loan_condition                0
region                        0
complete_date                 0
emp_length_int                0
income_category               0
loan_condition_int            0
interest_payments             0
dtype: int64

In [67]:
# create the 'income_cat' dummy variable using the 'map' method
df['income_cat'] = df.income_category.map({'Low':1, 'Medium':2, 'High':3})

In [69]:
df.income_cat.mean()

1.1967017475058572

In [70]:
df.interest_payments.unique()

array(['Low', 'High'], dtype=object)

In [71]:
# create the 'interest_payments' dummy variable using the 'map' method
df['interest_payment_cat'] = df.interest_payments.map({'Low':1, 'High':2})

In [72]:
df.loan_condition.unique()

array(['Good Loan', 'Bad Loan'], dtype=object)

In [73]:
# create the 'loan_condition' dummy variable using the 'map' method
df['loan_condition_cat'] = df.loan_condition.map({'Good Loan':0, 'Bad Loan':1})

In [74]:
df.application_type.unique()

array(['INDIVIDUAL', 'JOINT'], dtype=object)

In [75]:
# create the 'application_type' dummy variable using the 'map' method
df['application_type_cat'] = df.application_type.map({'INDIVIDUAL':1, 'JOINT':2})

In [113]:
df.purpose.isnull()

0         False
1         False
2         False
3         False
4         False
5         False
6         False
7         False
8         False
9         False
10        False
11        False
12        False
13        False
14        False
15        False
16        False
17        False
18        False
19        False
20        False
21        False
22        False
23        False
24        False
25        False
26        False
27        False
28        False
29        False
          ...
887349    False
887350    False
887351    False
887352    False
887353    False
887354    False
887355    False
887356    False
887357    False
887358    False
887359    False
887360    False
887361    False
887362    False
887363    False
887364    False
887365    False
887366    False
887367    False
887368    False
887369    False
887370    False
887371    False
887372    False
887373    False
887374    False
887375    False
887376    False
887377    False
887378    False
Name: purpose, Length: 887379, dtype: bool

In [78]:
df.loan_status.unique()

array(['Fully Paid', 'Charged Off', 'Current', 'Default',
       'Late (31-120 days)', 'In Grace Period', 'Late (16-30 days)',
       'Does not meet the credit policy. Status:Fully Paid',
       'Does not meet the credit policy. Status:Charged Off', 'Issued'],
      dtype=object)

In [134]:
# create the 'verification_status' dummy variable using the 'map' method
df['loan_status_cat'] = df.loan_status.map({'Fully Paid':1, 
                                            'Charged Off':2, 
                                            'Current':3,
                                           'Default':4, 
                                            'Late (31-120 days)':5, 
                                            'In Grace Period':6,
                                           'Late (16-30 days)':7, 
                                            'Does not meet the credit policy. Status:Fully Paid':8, 
                                            'Does not meet the credit policy. Status:Charged Off':9,
                                           'Issued':10})

In [143]:
df.isnull().sum()

loan_amount                   0
funded_amount                 0
investor_funds                0
term                          0
interest_rate                 0
installment                   0
grade                         0
sub_grade                     0
home_ownership                0
annual_income                 0
verification_status           0
issue_d                       0
loan_status                   0
pymnt_plan                    0
purpose                       0
addr_state                    0
dti                           0
delinq_2yrs                   0
open_acc                      0
pub_rec                       0
revol_bal                     0
revol_util                    0
total_acc                     0
initial_list_status           0
out_prncp                     0
out_prncp_inv                 0
total_pymnt                   0
total_pymnt_inv               0
total_rec_prncp               0
total_rec_int                 0
total_rec_late_fee            0
recoveries                    0
collection_recovery_fee       0
final_d                       0
last_pymnt_amnt               0
next_pymnt_d                  0
last_credit_pull_d            0
collections_12_mths_ex_med    0
policy_code                   0
application_type              0
acc_now_delinq                0
year                          0
loan_condition                0
region                        0
complete_date                 0
emp_length_int                0
income_category               0
loan_condition_int            0
interest_payments             0
income_cat                    0
interest_payment_cat          0
loan_condition_cat            0
application_type_cat          0
purpose_cat                   0
loan_status_cat               0
verification_status_cat       0
home_ownership_cat            0
grade_cat                     0
term_cat                      0
dtype: int64

In [83]:
df.verification_status.unique()

array(['Verified', 'Source Verified', 'Not Verified'], dtype=object)

In [84]:
# create the 'verification_status' dummy variable using the 'map' method
df['verification_status_cat'] = df.verification_status.map({'Verified':1, 'Source Verified':2, 'Not Verified':3})

In [85]:
df.home_ownership.unique()

array(['RENT', 'OWN', 'MORTGAGE', 'OTHER', 'NONE', 'ANY'], dtype=object)

In [86]:
# create the 'verification_status' dummy variable using the 'map' method
df['home_ownership_cat'] = df.home_ownership.map({'RENT':1, 'OWN':2, 'MORTGAGE':3, 'OTHER':4, 'NONE':5, 'ANY':6})

In [87]:
df.grade.unique()

array(['B', 'C', 'A', 'E', 'F', 'D', 'G'], dtype=object)

In [136]:
# create the 'grade' dummy variable using the 'map' method
df['grade_cat'] = df.grade.map({'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7})

In [141]:
df.term.unique()

array([' 36 months', ' 60 months'], dtype=object)

In [142]:
# create the 'term' dummy variable using the 'map' method
df['term_cat'] = df.term.map({' 36 months':1, ' 60 months':2})

In [96]:
df['income_cat'] = df['income_cat'].astype(int)

In [97]:
df['home_ownership_cat'] = df['home_ownership_cat'].astype(int)
df['verification_status_cat'] = df['verification_status_cat'].astype(int)

In [144]:
df['loan_status_cat'] = df['loan_status_cat'].astype(int)

In [116]:
# create the 'purpose' dummy variable using the 'map' method
df['purpose_cat'] = df.purpose.map({'credit_card':1, 'car':2, 
                                            'small_business':3, 'other':4,
                                            'wedding':5, 'debt_consolidation':6,
                                            'home_improvement':7, 'major_purchase':8,
                                            'medical':9, 'moving':10,
                                            'vacation':11, 'house':12,
                                            'renewable_energy':13, 'educational':14})

In [125]:
df.isnull().sum()

loan_amount                        0
funded_amount                      0
investor_funds                     0
term                               0
interest_rate                      0
installment                        0
grade                              0
sub_grade                          0
home_ownership                     0
annual_income                      0
verification_status                0
issue_d                            0
loan_status                        0
pymnt_plan                         0
purpose                            0
addr_state                         0
dti                                0
delinq_2yrs                        0
open_acc                           0
pub_rec                            0
revol_bal                          0
revol_util                         0
total_acc                          0
initial_list_status                0
out_prncp                          0
out_prncp_inv                      0
total_pymnt                        0
total_pymnt_inv                    0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
final_d                            0
last_pymnt_amnt                    0
next_pymnt_d                       0
last_credit_pull_d                 0
collections_12_mths_ex_med         0
policy_code                        0
application_type                   0
acc_now_delinq                     0
year                               0
loan_condition                     0
region                             0
complete_date                      0
emp_length_int                     0
income_category                    0
loan_condition_int                 0
interest_payments                  0
income_cat                         0
interest_payment_cat               0
loan_condition_cat                 0
application_type_cat               0
purpose_cat                        0
loan_status_cat                 9221
verification_status_cat            0
home_ownership_cat                 0
grade_cat                     887379
term_cat                      621125
dtype: int64

In [145]:
df['application_type_cat'] = df['application_type_cat'].astype(int)
df['interest_payment_cat'] = df['interest_payment_cat'].astype(int)
df['loan_condition_cat'] = df['loan_condition_cat'].astype(int)
df['purpose_cat'] = df['purpose_cat'].astype(int)
df['grade_cat'] = df['grade_cat'].astype(int)
df['term_cat'] = df['term_cat'].astype(int)

In [146]:
# We have 67429 loans categorized as bad loans
badloans_df = df.loc[df["loan_condition"] == "Bad Loan"]

In [147]:
# loan_status cross
loan_status_cross = pd.crosstab(badloans_df['region'], badloans_df['loan_status']).apply(lambda x: x/x.sum() * 100)
number_of_loanstatus = pd.crosstab(badloans_df['region'], badloans_df['loan_status'])

In [130]:
number_of_loanstatus

loan_status,Charged Off,Default,Does not meet the credit policy. Status:Charged Off,In Grace Period,Late (16-30 days),Late (31-120 days)
region,,,,,,
Northern-Irl,10671,263,190,1625,585,2799
cannught,7361,175,142,926,354,1820
leinster,11094,297,184,1579,600,2925
munster,4774,166,79,708,273,1407
ulster,11348,318,166,1415,545,2640

In [149]:
df.to_csv('C:\\Users\\mrferozi\\Documents\\Panada_ml\\loan\\lending-club-loan-data\\loan_final.csv')